.home {
    width: 100%;
}
@media (max-width: 768px) {
    .home{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}
.home-featured {
    margin: 5rem;
    margin-top: 10rem;
}

.featured {
    width: 100%;
}